<!-- html table generated in R 3.5.1 by xtable 1.8-4 package -->
<!-- Thu Jan 16 12:25:51 2020 -->
<table border=1>
<tr> <th>  </th> <th> mean </th> <th> SE </th>  </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.high.&lt;2.5K </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.high.&lt;2.5K </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.low.&lt;2.5K </td> <td align="right"> 0.14 </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.low.&lt;2.5K </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.medium-high.&lt;2.5K </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.medium-high.&lt;2.5K </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.medium-low.&lt;2.5K </td> <td align="right"> 0.08 </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.medium-low.&lt;2.5K </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.high.&gt;=100k </td> <td align="right"> 0.08 </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.high.&gt;=100k </td> <td align="right"> 0.01 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.low.&gt;=100k </td> <td align="right"> 0.01 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.low.&gt;=100k </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.medium-high.&gt;=100k </td> <td align="right"> 0.18 </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.medium-high.&gt;=100k </td> <td align="right"> 0.01 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.medium-low.&gt;=100k </td> <td align="right"> 0.21 </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.medium-low.&gt;=100k </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.high.15k-100k </td> <td align="right"> 0.01 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.high.15k-100k </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.low.15k-100k </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.low.15k-100k </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.medium-high.15k-100k </td> <td align="right"> 0.03 </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.medium-high.15k-100k </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.medium-low.15k-100k </td> <td align="right"> 0.11 </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.medium-low.15k-100k </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.high.2.5K-15K </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.high.2.5K-15K </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.low.2.5K-15K </td> <td align="right"> 0.03 </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.low.2.5K-15K </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.medium-high.2.5K-15K </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.medium-high.2.5K-15K </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)0.medium-low.2.5K-15K </td> <td align="right"> 0.10 </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> interaction(heat, est_socio, tam_loc)1.medium-low.2.5K-15K </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
   </table>
