<!-- html table generated in R 3.5.1 by xtable 1.8-4 package -->
<!-- Tue Jan 21 23:21:20 2020 -->
<table border=1>
<tr> <th>  </th> <th> est_socio </th> <th> tam_loc </th> <th> climate </th> <th> adopt.rate </th> <th> se </th> <th> Freq </th>  </tr>
  <tr> <td align="right"> 1 </td> <td> low </td> <td> &lt;2.5K </td> <td> Calida.Ext </td> <td align="right"> 18.94 </td> <td align="right"> 0.02 </td> <td align="right"> 100106.00 </td> </tr>
  <tr> <td align="right"> 2 </td> <td> low </td> <td> &lt;2.5K </td> <td> Templada </td> <td align="right"> 0.74 </td> <td align="right"> 0.00 </td> <td align="right"> 19582.00 </td> </tr>
  <tr> <td align="right"> 3 </td> <td> low </td> <td> &lt;2.5K </td> <td> Tropical </td> <td align="right"> 2.24 </td> <td align="right"> 0.00 </td> <td align="right"> 43310.00 </td> </tr>
  <tr> <td align="right"> 4 </td> <td> low </td> <td> &gt;=100k </td> <td> Calida.Ext </td> <td align="right"> 46.56 </td> <td align="right"> 0.08 </td> <td align="right"> 27293.00 </td> </tr>
  <tr> <td align="right"> 5 </td> <td> low </td> <td> &gt;=100k </td> <td> Templada </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> 6 </td> <td> low </td> <td> &gt;=100k </td> <td> Tropical </td> <td align="right"> 7.78 </td> <td align="right"> 0.02 </td> <td align="right"> 10138.00 </td> </tr>
  <tr> <td align="right"> 7 </td> <td> low </td> <td> 15k-100k </td> <td> Calida.Ext </td> <td align="right"> 13.63 </td> <td align="right"> 0.07 </td> <td align="right"> 1712.00 </td> </tr>
  <tr> <td align="right"> 8 </td> <td> low </td> <td> 15k-100k </td> <td> Templada </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> 9 </td> <td> low </td> <td> 15k-100k </td> <td> Tropical </td> <td align="right"> 0.58 </td> <td align="right"> 0.00 </td> <td align="right"> 640.00 </td> </tr>
  <tr> <td align="right"> 10 </td> <td> low </td> <td> 2.5K-15K </td> <td> Templada </td> <td align="right"> 1.10 </td> <td align="right"> 0.01 </td> <td align="right"> 5562.00 </td> </tr>
  <tr> <td align="right"> 11 </td> <td> low </td> <td> 2.5K-15K </td> <td> Tropical </td> <td align="right"> 4.29 </td> <td align="right"> 0.01 </td> <td align="right"> 19666.00 </td> </tr>
  <tr> <td align="right"> 12 </td> <td> medium-low </td> <td> &lt;2.5K </td> <td> Calida.Ext </td> <td align="right"> 36.21 </td> <td align="right"> 0.03 </td> <td align="right"> 218218.00 </td> </tr>
  <tr> <td align="right"> 13 </td> <td> medium-low </td> <td> &lt;2.5K </td> <td> Templada </td> <td align="right"> 2.59 </td> <td align="right"> 0.01 </td> <td align="right"> 52191.00 </td> </tr>
  <tr> <td align="right"> 14 </td> <td> medium-low </td> <td> &lt;2.5K </td> <td> Tropical </td> <td align="right"> 16.93 </td> <td align="right"> 0.03 </td> <td align="right"> 46743.00 </td> </tr>
  <tr> <td align="right"> 15 </td> <td> medium-low </td> <td> &gt;=100k </td> <td> Calida.Ext </td> <td align="right"> 40.85 </td> <td align="right"> 0.01 </td> <td align="right"> 801585.00 </td> </tr>
  <tr> <td align="right"> 16 </td> <td> medium-low </td> <td> &gt;=100k </td> <td> Templada </td> <td align="right"> 2.18 </td> <td align="right"> 0.00 </td> <td align="right"> 91221.00 </td> </tr>
  <tr> <td align="right"> 17 </td> <td> medium-low </td> <td> &gt;=100k </td> <td> Tropical </td> <td align="right"> 21.46 </td> <td align="right"> 0.01 </td> <td align="right"> 182936.00 </td> </tr>
  <tr> <td align="right"> 18 </td> <td> medium-low </td> <td> 15k-100k </td> <td> Calida.Ext </td> <td align="right"> 35.66 </td> <td align="right"> 0.04 </td> <td align="right"> 213397.00 </td> </tr>
  <tr> <td align="right"> 19 </td> <td> medium-low </td> <td> 15k-100k </td> <td> Templada </td> <td align="right"> 2.80 </td> <td align="right"> 0.01 </td> <td align="right"> 69201.00 </td> </tr>
  <tr> <td align="right"> 20 </td> <td> medium-low </td> <td> 15k-100k </td> <td> Tropical </td> <td align="right"> 14.07 </td> <td align="right"> 0.02 </td> <td align="right"> 94856.00 </td> </tr>
  <tr> <td align="right"> 21 </td> <td> medium-low </td> <td> 2.5K-15K </td> <td> Calida.Ext </td> <td align="right"> 43.03 </td> <td align="right"> 0.04 </td> <td align="right"> 260520.00 </td> </tr>
  <tr> <td align="right"> 22 </td> <td> medium-low </td> <td> 2.5K-15K </td> <td> Templada </td> <td align="right"> 3.17 </td> <td align="right"> 0.01 </td> <td align="right"> 82187.00 </td> </tr>
  <tr> <td align="right"> 23 </td> <td> medium-low </td> <td> 2.5K-15K </td> <td> Tropical </td> <td align="right"> 19.83 </td> <td align="right"> 0.03 </td> <td align="right"> 105407.00 </td> </tr>
  <tr> <td align="right"> 24 </td> <td> medium-high </td> <td> &gt;=100k </td> <td> Calida.Ext </td> <td align="right"> 53.60 </td> <td align="right"> 0.01 </td> <td align="right"> 1140242.00 </td> </tr>
  <tr> <td align="right"> 25 </td> <td> medium-high </td> <td> &gt;=100k </td> <td> Templada </td> <td align="right"> 2.97 </td> <td align="right"> 0.00 </td> <td align="right"> 111719.00 </td> </tr>
  <tr> <td align="right"> 26 </td> <td> medium-high </td> <td> &gt;=100k </td> <td> Tropical </td> <td align="right"> 39.80 </td> <td align="right"> 0.03 </td> <td align="right"> 128900.00 </td> </tr>
  <tr> <td align="right"> 27 </td> <td> medium-high </td> <td> 15k-100k </td> <td> Calida.Ext </td> <td align="right"> 56.86 </td> <td align="right"> 0.04 </td> <td align="right"> 243706.00 </td> </tr>
  <tr> <td align="right"> 28 </td> <td> medium-high </td> <td> 15k-100k </td> <td> Templada </td> <td align="right"> 6.02 </td> <td align="right"> 0.02 </td> <td align="right"> 34340.00 </td> </tr>
  <tr> <td align="right"> 29 </td> <td> medium-high </td> <td> 15k-100k </td> <td> Tropical </td> <td align="right"> 49.39 </td> <td align="right"> 0.14 </td> <td align="right"> 13612.00 </td> </tr>
  <tr> <td align="right"> 30 </td> <td> medium-high </td> <td> 2.5K-15K </td> <td> Calida.Ext </td> <td align="right"> 63.65 </td> <td align="right"> 0.06 </td> <td align="right"> 20426.00 </td> </tr>
  <tr> <td align="right"> 31 </td> <td> medium-high </td> <td> 2.5K-15K </td> <td> Templada </td> <td align="right"> 2.27 </td> <td align="right"> 0.01 </td> <td align="right"> 2320.00 </td> </tr>
  <tr> <td align="right"> 32 </td> <td> medium-high </td> <td> 2.5K-15K </td> <td> Tropical </td> <td align="right"> 6.30 </td> <td align="right"> 0.05 </td> <td align="right"> 677.00 </td> </tr>
  <tr> <td align="right"> 33 </td> <td> high </td> <td> &lt;2.5K </td> <td> Templada </td> <td align="right"> 3.95 </td> <td align="right"> 0.04 </td> <td align="right"> 508.00 </td> </tr>
  <tr> <td align="right"> 34 </td> <td> high </td> <td> &gt;=100k </td> <td> Calida.Ext </td> <td align="right"> 73.58 </td> <td align="right"> 0.02 </td> <td align="right"> 866619.00 </td> </tr>
  <tr> <td align="right"> 35 </td> <td> high </td> <td> &gt;=100k </td> <td> Templada </td> <td align="right"> 5.72 </td> <td align="right"> 0.01 </td> <td align="right"> 108012.00 </td> </tr>
  <tr> <td align="right"> 36 </td> <td> high </td> <td> &gt;=100k </td> <td> Tropical </td> <td align="right"> 71.17 </td> <td align="right"> 0.04 </td> <td align="right"> 131114.00 </td> </tr>
  <tr> <td align="right"> 37 </td> <td> high </td> <td> 15k-100k </td> <td> Calida.Ext </td> <td align="right"> 51.80 </td> <td align="right"> 0.10 </td> <td align="right"> 25618.00 </td> </tr>
  <tr> <td align="right"> 38 </td> <td> high </td> <td> 15k-100k </td> <td> Templada </td> <td align="right"> 0.82 </td> <td align="right"> 0.01 </td> <td align="right"> 1277.00 </td> </tr>
  <tr> <td align="right"> 39 </td> <td> high </td> <td> 15k-100k </td> <td> Tropical </td> <td align="right"> 75.00 </td> <td align="right"> 0.00 </td> <td align="right"> 843.00 </td> </tr>
  <tr> <td align="right"> 40 </td> <td> high </td> <td> 2.5K-15K </td> <td> Templada </td> <td align="right"> 15.71 </td> <td align="right"> 0.08 </td> <td align="right"> 5383.00 </td> </tr>
  <tr> <td align="right"> 41 </td> <td> high </td> <td> 2.5K-15K </td> <td> Tropical </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
   </table>
