<!-- html table generated in R 3.5.1 by xtable 1.8-3 package -->
<!-- Sun Jan 12 17:00:55 2020 -->
<table border=1>
<tr> <th>  </th> <th> est_socio </th> <th> tam_loc </th> <th> ahor </th> <th> se </th>  </tr>
  <tr> <td align="right"> low.&gt;=100k </td> <td> low </td> <td> &gt;=100k </td> <td align="right"> 0.64 </td> <td align="right"> 0.08 </td> </tr>
  <tr> <td align="right"> medium-low.&gt;=100k </td> <td> medium-low </td> <td> &gt;=100k </td> <td align="right"> 0.73 </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> medium-high.&gt;=100k </td> <td> medium-high </td> <td> &gt;=100k </td> <td align="right"> 0.83 </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> high.&gt;=100k </td> <td> high </td> <td> &gt;=100k </td> <td align="right"> 0.92 </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> low.15k-100k </td> <td> low </td> <td> 15k-100k </td> <td align="right"> 0.64 </td> <td align="right"> 0.05 </td> </tr>
  <tr> <td align="right"> medium-low.15k-100k </td> <td> medium-low </td> <td> 15k-100k </td> <td align="right"> 0.75 </td> <td align="right"> 0.02 </td> </tr>
  <tr> <td align="right"> medium-high.15k-100k </td> <td> medium-high </td> <td> 15k-100k </td> <td align="right"> 0.84 </td> <td align="right"> 0.03 </td> </tr>
  <tr> <td align="right"> high.15k-100k </td> <td> high </td> <td> 15k-100k </td> <td align="right"> 0.89 </td> <td align="right"> 0.05 </td> </tr>
  <tr> <td align="right"> low.2.5K-15K </td> <td> low </td> <td> 2.5K-15K </td> <td align="right"> 0.66 </td> <td align="right"> 0.03 </td> </tr>
  <tr> <td align="right"> medium-low.2.5K-15K </td> <td> medium-low </td> <td> 2.5K-15K </td> <td align="right"> 0.72 </td> <td align="right"> 0.02 </td> </tr>
  <tr> <td align="right"> medium-high.2.5K-15K </td> <td> medium-high </td> <td> 2.5K-15K </td> <td align="right"> 0.90 </td> <td align="right"> 0.05 </td> </tr>
  <tr> <td align="right"> high.2.5K-15K </td> <td> high </td> <td> 2.5K-15K </td> <td align="right"> 0.94 </td> <td align="right"> 0.05 </td> </tr>
  <tr> <td align="right"> low.&lt;2.5K </td> <td> low </td> <td> &lt;2.5K </td> <td align="right"> 0.44 </td> <td align="right"> 0.02 </td> </tr>
  <tr> <td align="right"> medium-low.&lt;2.5K </td> <td> medium-low </td> <td> &lt;2.5K </td> <td align="right"> 0.63 </td> <td align="right"> 0.03 </td> </tr>
  <tr> <td align="right"> high.&lt;2.5K </td> <td> high </td> <td> &lt;2.5K </td> <td align="right"> 0.90 </td> <td align="right"> 0.07 </td> </tr>
   </table>
