<!-- html table generated in R 3.5.1 by xtable 1.8-4 package -->
<!-- Tue Jan 21 23:43:59 2020 -->
<table border=1>
<tr> <th>  </th> <th> est_socio </th> <th> &lt;2.5K_Calida.Ext </th> <th> &lt;2.5K_Templada </th> <th> &lt;2.5K_Tropical </th> <th> &gt;=100k_Calida.Ext </th> <th> &gt;=100k_Templada </th> <th> &gt;=100k_Tropical </th> <th> 15k-100k_Calida.Ext </th> <th> 15k-100k_Templada </th> <th> 15k-100k_Tropical </th> <th> 2.5K-15K_Calida.Ext </th> <th> 2.5K-15K_Templada </th> <th> 2.5K-15K_Tropical </th>  </tr>
  <tr> <td align="right"> 1 </td> <td> low </td> <td align="right"> 18.94 </td> <td align="right"> 0.74 </td> <td align="right"> 2.24 </td> <td align="right"> 46.56 </td> <td align="right"> 0.00 </td> <td align="right"> 7.78 </td> <td align="right"> 13.63 </td> <td align="right"> 0.00 </td> <td align="right"> 0.58 </td> <td align="right">  </td> <td align="right"> 1.10 </td> <td align="right"> 4.29 </td> </tr>
  <tr> <td align="right"> 2 </td> <td> medium-low </td> <td align="right"> 36.21 </td> <td align="right"> 2.59 </td> <td align="right"> 16.93 </td> <td align="right"> 40.85 </td> <td align="right"> 2.18 </td> <td align="right"> 21.46 </td> <td align="right"> 35.66 </td> <td align="right"> 2.80 </td> <td align="right"> 14.07 </td> <td align="right"> 43.03 </td> <td align="right"> 3.17 </td> <td align="right"> 19.83 </td> </tr>
  <tr> <td align="right"> 3 </td> <td> medium-high </td> <td align="right">  </td> <td align="right">  </td> <td align="right">  </td> <td align="right"> 53.60 </td> <td align="right"> 2.97 </td> <td align="right"> 39.80 </td> <td align="right"> 56.86 </td> <td align="right"> 6.02 </td> <td align="right"> 49.39 </td> <td align="right"> 63.65 </td> <td align="right"> 2.27 </td> <td align="right"> 6.30 </td> </tr>
  <tr> <td align="right"> 4 </td> <td> high </td> <td align="right">  </td> <td align="right"> 3.95 </td> <td align="right">  </td> <td align="right"> 73.58 </td> <td align="right"> 5.72 </td> <td align="right"> 71.17 </td> <td align="right"> 51.80 </td> <td align="right"> 0.82 </td> <td align="right"> 75.00 </td> <td align="right">  </td> <td align="right"> 15.71 </td> <td align="right"> 0.00 </td> </tr>
   </table>
