<!-- html table generated in R 3.5.1 by xtable 1.8-4 package -->
<!-- Thu Feb  6 18:18:42 2020 -->
<table border=1>
<tr> <th>  </th> <th> est_socio </th> <th> Rural_Calida.Ext </th> <th> Rural_Templada </th> <th> Rural_Tropical </th> <th> Urban_Calida.Ext </th> <th> Urban_Templada </th> <th> Urban_Tropical </th>  </tr>
  <tr> <td align="right"> 1 </td> <td> low </td> <td align="right"> 18.94 </td> <td align="right"> 0.74 </td> <td align="right"> 2.24 </td> <td align="right"> 40.74 </td> <td align="right"> 0.92 </td> <td align="right"> 4.35 </td> </tr>
  <tr> <td align="right"> 2 </td> <td> medium-low </td> <td align="right"> 36.24 </td> <td align="right"> 2.60 </td> <td align="right"> 16.93 </td> <td align="right"> 40.28 </td> <td align="right"> 2.62 </td> <td align="right"> 18.62 </td> </tr>
  <tr> <td align="right"> 3 </td> <td> medium-high </td> <td align="right">  </td> <td align="right">  </td> <td align="right">  </td> <td align="right"> 54.27 </td> <td align="right"> 3.35 </td> <td align="right"> 39.53 </td> </tr>
  <tr> <td align="right"> 4 </td> <td> high </td> <td align="right">  </td> <td align="right">  </td> <td align="right">  </td> <td align="right"> 72.70 </td> <td align="right"> 5.51 </td> <td align="right"> 69.91 </td> </tr>
   </table>
