<!-- html table generated in R 3.5.1 by xtable 1.8-4 package -->
<!-- Tue Jan 21 23:44:14 2020 -->
<table border=1>
<tr> <th>  </th> <th> est_socio </th> <th> apartment_Calida.Ext </th> <th> apartment_Templada </th> <th> apartment_Tropical </th> <th> house_Calida.Ext </th> <th> house_Templada </th> <th> house_Tropical </th> <th> other_Calida.Ext </th> <th> other_Templada </th> <th> other_Tropical </th>  </tr>
  <tr> <td align="right"> 1 </td> <td> low </td> <td align="right"> 10.34 </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> <td align="right"> 21.62 </td> <td align="right"> 0.78 </td> <td align="right"> 2.83 </td> <td align="right"> 18.28 </td> <td align="right"> 0.00 </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> 2 </td> <td> medium-low </td> <td align="right"> 23.75 </td> <td align="right"> 1.61 </td> <td align="right"> 25.72 </td> <td align="right"> 40.23 </td> <td align="right"> 2.76 </td> <td align="right"> 18.76 </td> <td align="right"> 23.01 </td> <td align="right"> 0.82 </td> <td align="right"> 10.28 </td> </tr>
  <tr> <td align="right"> 3 </td> <td> medium-high </td> <td align="right"> 36.77 </td> <td align="right"> 2.13 </td> <td align="right"> 37.27 </td> <td align="right"> 55.39 </td> <td align="right"> 3.86 </td> <td align="right"> 39.95 </td> <td align="right"> 32.70 </td> <td align="right"> 1.16 </td> <td align="right"> 34.90 </td> </tr>
  <tr> <td align="right"> 4 </td> <td> high </td> <td align="right"> 58.83 </td> <td align="right"> 4.72 </td> <td align="right"> 51.16 </td> <td align="right"> 72.87 </td> <td align="right"> 5.54 </td> <td align="right"> 71.33 </td> <td align="right"> 81.97 </td> <td align="right"> 10.48 </td> <td align="right"> 58.21 </td> </tr>
   </table>
