<!-- html table generated in R 3.5.1 by xtable 1.8-4 package -->
<!-- Thu Feb  6 19:46:42 2020 -->
<table border=1>
<tr> <th>  </th> <th> est_socio </th> <th> 1 room_Calida.Ext </th> <th> 1 room_Templada </th> <th> 1 room_Tropical </th> <th> 10+ rooms_Calida.Ext </th> <th> 10+ rooms_Templada </th> <th> 10+ rooms_Tropical </th> <th> 2 to 4 rooms_Calida.Ext </th> <th> 2 to 4 rooms_Templada </th> <th> 2 to 4 rooms_Tropical </th> <th> 5 to 7 rooms_Calida.Ext </th> <th> 5 to 7 rooms_Templada </th> <th> 5 to 7 rooms_Tropical </th> <th> 8-10 rooms_Calida.Ext </th> <th> 8-10 rooms_Templada </th> <th> 8-10 rooms_Tropical </th>  </tr>
  <tr> <td align="right"> 1 </td> <td> low </td> <td align="right"> 8.84 </td> <td align="right"> 0.00 </td> <td align="right"> 0.79 </td> <td align="right"> 23.89 </td> <td align="right"> 0.00 </td> <td align="right"> 100.00 </td> <td align="right"> 21.21 </td> <td align="right"> 0.50 </td> <td align="right"> 2.46 </td> <td align="right"> 30.92 </td> <td align="right"> 2.25 </td> <td align="right"> 7.59 </td> <td align="right"> 65.78 </td> <td align="right"> 1.85 </td> <td align="right"> 5.82 </td> </tr>
  <tr> <td align="right"> 2 </td> <td> medium-low </td> <td align="right"> 19.03 </td> <td align="right"> 0.64 </td> <td align="right"> 5.51 </td> <td align="right"> 47.27 </td> <td align="right"> 11.30 </td> <td align="right"> 61.76 </td> <td align="right"> 38.43 </td> <td align="right"> 2.31 </td> <td align="right"> 17.50 </td> <td align="right"> 47.99 </td> <td align="right"> 3.88 </td> <td align="right"> 29.66 </td> <td align="right"> 47.89 </td> <td align="right"> 2.23 </td> <td align="right"> 41.53 </td> </tr>
  <tr> <td align="right"> 3 </td> <td> medium-high </td> <td align="right"> 22.88 </td> <td align="right"> 0.00 </td> <td align="right"> 20.33 </td> <td align="right"> 80.26 </td> <td align="right"> 0.00 </td> <td align="right">  </td> <td align="right"> 52.00 </td> <td align="right"> 3.16 </td> <td align="right"> 36.49 </td> <td align="right"> 58.92 </td> <td align="right"> 3.81 </td> <td align="right"> 46.07 </td> <td align="right"> 56.73 </td> <td align="right"> 3.91 </td> <td align="right"> 81.72 </td> </tr>
  <tr> <td align="right"> 4 </td> <td> high </td> <td align="right"> 34.37 </td> <td align="right"> 0.00 </td> <td align="right"> 21.85 </td> <td align="right"> 92.30 </td> <td align="right"> 1.29 </td> <td align="right"> 100.00 </td> <td align="right"> 68.24 </td> <td align="right"> 3.86 </td> <td align="right"> 60.08 </td> <td align="right"> 76.47 </td> <td align="right"> 7.23 </td> <td align="right"> 81.53 </td> <td align="right"> 90.07 </td> <td align="right"> 8.15 </td> <td align="right"> 93.66 </td> </tr>
   </table>
