<!-- html table generated in R 3.5.1 by xtable 1.8-4 package -->
<!-- Sun Jan 12 17:04:11 2020 -->
<table border=1>
<tr> <th>  </th> <th> x </th>  </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)low.&lt;2.5K </td> <td align="right"> 0.14 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)medium-low.&lt;2.5K </td> <td align="right"> 0.08 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)medium-high.&lt;2.5K </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)high.&lt;2.5K </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)low.2.5K-15K </td> <td align="right"> 0.03 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)medium-low.2.5K-15K </td> <td align="right"> 0.10 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)medium-high.2.5K-15K </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)high.2.5K-15K </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)low.15k-100k </td> <td align="right"> 0.00 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)medium-low.15k-100k </td> <td align="right"> 0.11 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)medium-high.15k-100k </td> <td align="right"> 0.03 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)high.15k-100k </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)low.&gt;=100k </td> <td align="right"> 0.01 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)medium-low.&gt;=100k </td> <td align="right"> 0.21 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)medium-high.&gt;=100k </td> <td align="right"> 0.19 </td> </tr>
  <tr> <td align="right"> interaction(est_socio, tam_loc)high.&gt;=100k </td> <td align="right"> 0.09 </td> </tr>
   </table>
